@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap");

/* 
font-family: "Fira Sans Condensed", serif; 300, 400, 900
font-family: "PT Sans", serif; 400
font-family: "Secular One", serif; 400
*/

body {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-size: 14px;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-areas: 'logo nav search';

  align-items: center;
  justify-items: start;
  padding: 20px 0;

  text-transform: uppercase;

  /* background-color: rgb(119, 217, 119); */
  overflow: hidden;
/*! A way better */
  /* grid-template:'logo nav search' max-content/ 1fr 1fr 100px; */
}

.logo {
  font-family: "Secular One", serif;
  font-weight: 400;
  color: #FF4747;
  font-size: 24px;
  width: 150px;
  line-height: 1;

  grid-area: logo;
  justify-self: end;
  transition: color 0.2s;
}

.header__nav {
  grid-area: nav;

}

.header__nav ul{
  display: flex;
  gap: 10px;
}

.header__nav a{
  padding: 15px;
  transition: color 0.2s;

  position: relative;
  display: inline-block;
  
}

.header__nav a:hover, .logo:hover{
  color: #01BCB5;
}

.header__nav a:active{
  color: #01928D;
}

.header__nav a::after{
  content: '';
  display: block;
  width: 80%;
  height: 100%;

  background-color: #01BCB5;

  position: absolute;
  left: 15px;
  bottom: -200%;

  transition: bottom 0.5s, background-color 0.2s;
}

.header__nav a:hover::after{
  bottom: -80%;
}

.header__nav a:active::after{
  background-color: #01928D;
}

.search {
  grid-area: search;
}

.search__icon{
  transition: fill 0.2s;
}

.search__icon:hover{
  fill: #01BCB5;
}
.search__icon:active{
  fill: #01928D;
}